* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #f3f0f0;
	position: relative;
}

/* nav */

nav {
	display: flex;
	justify-content: space-between;
	color: rgb(255, 255, 255);
	height: 50px;
	align-items: center;
	padding: 0 15%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 0px 20px 0px black;
}

.nav-gradient {
	width: 100%;
	height: 50px;
	top: 0;
	z-index: 50;
	background: linear-gradient(to bottom,
			rgb(126, 161, 31),
			rgba(126, 161, 31, 0.616),
			rgb(126, 161, 31));
	position: fixed;
}


nav .nav-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-left: 20%;
}

.nav-search button {
	margin-right: 10px;
	position: absolute;
	z-index: 11;
	color: black;
	right: 0;
	border: none;
	background-color: white;
	cursor: pointer;
}

.nav-search button:focus {
	outline: none;
}

.nav-search input {
	border-radius: 10px;
	border: none;
	padding: 5px;
}

.nav-search input:focus {
	outline: none;
}

nav .logo {
	font-family: "Pacifico", cursive;
	font-size: 25px;
	z-index: 12;
	cursor: pointer;
}

nav .nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20%;
}

nav .nav-menu a {
	margin-left: 20px;
	cursor: pointer;
}

nav .nav-menu .dropdown:hover {
	background-color: rgb(107, 107, 107);
	border-radius: 10px;
	transition: 0.3s;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

nav .nav-menu .dropdown:hover .dropdown-menu {
	margin-top: -5px;
	display: flex;
}

nav .nav-menu .dropdown {
	position: relative;
	cursor: pointer;
}

nav .nav-menu .dropdown button {
	padding: 10px;
	cursor: pointer;
	background-color: rgba(32, 31, 31, 0.555);
	outline: none;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 15px;
}

nav .nav-menu .dropdown .dropdown-menu {
	/* display: none; */
	position: absolute;
	background-color: white;
	display: none;
	flex-direction: column;
	font-size: 10px;
	min-width: 120px;
}

nav .nav-menu .dropdown .dropdown-menu a:hover {
	background-color: rgb(107, 107, 107);
	color: white;
	transition: 0.3s;
}

nav .nav-menu .dropdown .dropdown-menu a {
	text-decoration: none;
	padding: 10px;
	color: black;
	font-weight: bold;
	/* border: solid 1px; */
	margin-left: 0;
}

nav .nav-menu .dropdown button:hover .dropdown-menu {
	display: block;
}

nav .nav-menu img {
	width: 30px;
	border-radius: 50%;
	margin-top: 3px;
}

/* akhir nav */

/* menu mobile */
.mobile-nav-content {
	display: none;
}

.mobile-nav-content div {
	position: absolute;
	line-height: 40px;
	text-transform: uppercase;
}

.mobile-nav-content .post-nav {
	height: 100%;
	left: 0;
	border-right: rgb(19, 19, 18);
	border-bottom: rgb(19, 19, 18) solid;
	background-color: white;
	width: 50%;
}

.mobile-nav-content .event-nav {
	right: 0;
	height: 100%;
	background-color: white;
	border-bottom: rgb(19, 19, 18) solid;
	width: 50%;
}

.mobile-nav-content .post-nav.active {
	color: rgb(255, 255, 255);
	background-color: rgb(107, 107, 107);
	border-bottom: rgb(115, 164, 255) solid 3px;
	transition: 0.3s;
}

.mobile-nav-content .event-nav.active {
	color: rgb(255, 255, 255);
	background-color: rgb(107, 107, 107);
	border-bottom: rgb(115, 164, 255) solid 3px;
	transition: 0.3s;
}

.mobile-menu {
	display: none;
}

/* akhir menu mobile */

/* loading spinner */
.lds-ring {
	display: none;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid rgb(0, 0, 0);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgb(0, 0, 0) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* content */
.content {
	margin-top: 70px;
	height: 120%;
	padding: 0 15%;
	display: grid;
	grid-template-columns: 1.7fr 1fr;
	grid-gap: 0;
}

/* akhir content */

/* post content */
.content .post {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	transition: ease-in-out 0.5s;
}

.content .post .filter .filter {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
}

.content .post .filter .filter p {
	background-color: rgb(110, 157, 228);
	padding: 3px 7px 3px 7px;
	white-space: nowrap;
	border-radius: 20px;
	width: auto;
	font-size: 12px;
	cursor: pointer;
	color: white;
	text-align: center;
}

.content .post .filter .filter p:hover {
	background-color: white;
	transition: 0.5s;
	color: rgb(110, 157, 228);
}

.content .post::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.content .post .post-container {
	background-color: rgb(255, 255, 255);
	border: #b3aeae groove 0.2px;
	border-radius: 3px;
	position: relative;
	box-shadow: 0px 0px 5px 0px grey;
}

.content .post .post-container .post-content-header {
	display: flex;
	height: 40px;
	margin: 2px 10px 2px 10px;
}

.content .post .post-container .post-content-header img {
	width: 40px;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.content .post .post-container .post-content-header p {
	cursor: pointer;
	font-weight: bold;
	margin-top: 8px;
}

.content .post .post-container .post-content-header i {
	position: absolute;
	right: 20px;
	cursor: pointer;
	padding: 8px;
}

.content .post .post-container .post-content-img img {
	width: 100%;
	cursor: pointer;
}

.content .post .post-container .post-content-caption {
	padding: 5px 10px 10px 10px;
}

.content .post .post-container .post-content-caption .nama {
	font-weight: bold;
	cursor: pointer;
	display: inline;
	font-size: 14px;
}

.content .post .post-container .post-content-caption .caption {
	margin-left: 5px;
	white-space: pre-line;
	font-size: 14px;
	display: inline;
}

.content .post .post-container .post-content-info {
	border-top: groove 1.5px;
}

.content .post .post-container .post-content-info .alamat {
	margin: 5px;
	margin-left: 10px;
	display: flex;
	/* margin-bottom: -10px; */
}

.content .post .post-container .post-content-info .alamat i {
	margin-right: 10px;
}

.content .post .post-container .post-content-info .alamat .map {
	display: flex;
	right: 2px;
	cursor: pointer;
	position: absolute;

	/* margin-bottom: -10px; */
	color: rgb(51, 114, 75);
}

.content .post .post-container .post-content-info .jam-buka {
	border-top: groove 1px;
	display: flex;
	align-items: center;
}

.content .post .post-container .post-content-info .jam-buka i {
	margin-left: 10px;
}

.content .post .post-container .post-content-info .jam-buka p {
	margin: 5px 0 5px 10px;
}

.content .post .post-container .post-content-info .mobile-map {
	display: none;
}

/* akhir content post */

/* content event */
.content .event {
	transition: ease-in-out 0.5s;
	display: grid;
	grid-template-columns: 1fr;
	position: fixed;
	right: 15%;
	grid-gap: 20px 100px;
	width: 24%;
	height: 88%;
	overflow-y: auto;
	overflow-x: hidden;
	top: 70px;
	bottom: -100px;
	padding: 2px;
}

.content .event::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.content .event h3 {
	color: rgb(96, 99, 99);
}

.content .event .event-container {
	background-color: rgb(255, 255, 255);
	border: #b3aeae groove 0.2px;
	border-radius: 3px;
	position: relative;
	box-shadow: 0px 0px 5px 0px grey;
}

.content .event .event-container .event-content-header {
	display: flex;
	height: 40px;
	margin: 2px 10px 2px 10px;
	align-items: center;
}

.content .event .event-container .event-content-header img {
	width: 40px;
	cursor: pointer;
	border-radius: 50%;
}

.content .event .event-container .event-content-header p {
	cursor: pointer;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 12px;
}

.content .event .event-container .event-content-header i {
	position: absolute;
	right: 20px;
	cursor: pointer;
	padding: 8px;
}

.content .event .event-container .event-content-img img {
	width: 100%;
	cursor: pointer;
}

.content .event .event-container .event-content-caption .nama {
	font-weight: bold;
	cursor: pointer;
	display: inline;
	font-size: 14px;
}

.content .event .event-container .event-content-caption .caption {
	margin-left: 5px;
	white-space: pre-line;
	font-size: 14px;
	display: inline;
}

.content .event .event-container .event-content-caption {
	padding: 5px 10px 10px 10px;
	border-bottom: groove 0.5px;
	border-radius: 3px;
}

.content .event .event-container .event-content-info .alamat {
	margin: 10px;
	margin-left: 10px;
	display: flex;
	align-items: center;
	margin-bottom: -20px;
}

.content .event .event-container .event-content-info .alamat p {
	font-size: 12px;
}

.content .event .event-container .event-content-info .alamat i {
	margin-right: 10px;
	margin-top: -15px;
}

.content .event .event-container .event-content-info .alamat .map {
	display: flex;
	position: absolute;
	right: 0;
	margin-top: -5px;
}

.content .event .event-container .event-content-info .tanggal {
	margin-left: 10px;
	display: flex;
	align-items: center;
	margin-top: -20px;
}

.content .event .event-container .event-content-info .tanggal i {
	margin-right: 10px;
}

.content .event .event-container .event-content-info .tanggal p {
	margin-top: 20px;
	font-size: 13px;
}

/* akhir content event */

/* tambah post kuliner */
.add-tempat-kuliner {
	position: absolute;
	margin-top: 20px;
	border-radius: 40px;
	right: 42%;
	padding: 5px 10px 5px 10px;
	background-color: teal;
	display: flex;
	color: white;
	box-shadow: 0px 0px 5px 0px grey;
	cursor: pointer;
}

.add-tempat-kuliner i {
	margin-right: 4px;
}

.content-tambah-kuliner {
	margin-top: 10px;
	padding: 0 15%;
	display: grid;
	gap: 0 20px;
	grid-template-columns: repeat(2, 1fr);
}

.form-kuliner-container {
	margin-top: 70px;
}

.form-kuliner-container h3 {
	text-align: center;
}

form .img-upload-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5px;
}

form .img-upload-container img {
	width: 200px;
}

.content-tambah-kuliner .submit-tempat-kuliner {
	padding: 8px;
	display: flex;
	/* background-color: steelblue; */
	height: 35px;
	justify-content: space-around;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.content-tambah-kuliner .submit-tempat-kuliner .submit:hover {
	background-color: rgb(110, 157, 228);
	transition: 0.3s;
}

.content-tambah-kuliner .submit-tempat-kuliner .submit {
	color: white;
	background-color: rgb(40, 66, 105);
	padding: 10px 80px;
	border-radius: 20px;
	position: absolute;
	left: 15%;
	text-align: center;
	cursor: pointer;
	display: inline;
}

.content-tambah-kuliner .submit-tempat-kuliner .reset:hover {
	background-color: rgb(194, 90, 90);
	transition: 0.3s;
}

.content-tambah-kuliner .submit-tempat-kuliner .reset {
	cursor: pointer;
	color: white;
	border-radius: 20px;
	background-color: rgb(148, 53, 53);
	position: absolute;
	padding: 10px 80px;
	left: 34%;
	text-align: center;
}

/* akhir post kuliner */

/* form-input */
.form {
	padding: 10px 10px;
	background-color: white;
	border-radius: 5px;
	box-sizing: border-box;
	border: #ccc solid 1px;
	box-shadow: 0px 0px 5px 0px rgb(212, 212, 212);
}

.form-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.form-input label {
	margin-bottom: 5px;
}

.form-input textarea {
	border-radius: 4px;
	resize: vertical;
	padding: 10px 15px;
}

.form-input input {
	border: 1px solid #ccc;
	padding: 5px 15px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 8px 0;
}

.form-input input:focus {
	transition: 0.7s;
	border-radius: 4px;
}

/* akhir form-input */

/* post event */
.add-event {
	display: flex;
	background-color: teal;
	color: white;
	align-items: center;
	width: 50%;
	cursor: pointer;
	padding: 5px 7px 5px 7px;
	border-radius: 30px;
	justify-content: center;
	box-shadow: 0px 0px 5px 0px grey;
}

.add-event i {
	margin-right: 4px;
}

/* akhir post event */

/* openlayers */
.form-lf {
	display: flex;
}

.portlet-body .map {
	width: 100%;
	height: 100%;
}

.portlet-body .marker {
	width: 15px;
	height: 15px;
	cursor: move;
}

/* akhir openlayers */

/* modal */
.modal {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	z-index: 100000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.466);
}

.modal.show {
	display: unset !important;
}

/* akhir modal */

/* post filter */
.filter {
	display: flex;
	width: 60%;
	align-items: center;
	justify-content: space-between;
}

/* akhir post filter */

@media screen and (max-width: 650px) {
	body {
		overflow-x: hidden;
	}

	/* nav */

	nav {
		padding: 0 10px;
	}

	nav .nav-search input {
		width: 130px;
	}

	nav .nav-menu {
		display: none;
	}

	/* akhir nav */

	/* mobile menu */
	.mobile-nav-content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		text-align: center;
		padding: 3% 16%;
		position: relative;
		height: 40px;
	}

	.mobile-menu {
		display: flex;
		bottom: 0;
		background-color: white;
		align-items: center;
		height: 50px;
		position: fixed;
		justify-content: space-between;
		width: 100%;
	}

	.mobile-menu a {
		margin: 0 20px;
	}

	.mobile-menu a img {
		width: 30px;
		bottom: 0;
		border-radius: 50%;
	}

	/* akhir mobile menu */

	.content {
		grid-template-columns: 1fr;
		padding: 0 3%;
	}

	/* content post */

	.content .post {
		margin-top: 10px;
	}

	.content .post.hide {
		transform: translateX(-100%);
	}

	/* akhir content post */

	/* content event */
	.content .event.show {
		transform: translateX(0);
	}

	.content .event {
		transition: ease-in-out 0.5s;
		transform: translateX(100%);
		top: unset !important;
		bottom: unset !important;
	}

	/* akhir content event */
	.add-tempat-kuliner {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.content {
		grid-template-columns: 1fr;
		padding: 0 3%;
		/* margin-bottom: 70px; */
		margin-top: 10px;
	}

	/* nav */
	nav {
		padding: 0 30px;
	}

	nav .nav-search input {
		width: 130px;
	}

	nav .nav-menu {
		display: none;
	}

	.nav-img {
		max-width: 1000px;
		width: 100%;
	}

	nav {
		position: relative;
	}

	.nav-img {
		position: absolute;
	}

	.nav-gradient {
		position: absolute;
	}

	/* akhir nav */

	/* mobile menu */
	.mobile-menu {
		display: flex;
		bottom: 0;
		background-color: white;
		align-items: center;
		height: 50px;
		position: fixed;
		justify-content: space-between;
		width: 100%;
		box-shadow: 0px 0px 5px 0px grey;
	}

	.mobile-menu a {
		margin: 0 20px;
	}

	.mobile-menu a img {
		width: 30px;
		bottom: 0;
		border-radius: 50%;
	}

	.mobile-nav-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding: 3% 16%;
		position: relative;
		height: 40px;
	}

	/* akhir mobile menu */

	/* content post */
	.content .post .post-container {
		transition: transform ease-in-out 0.5s;
		opacity: 1;
	}

	.content .post.hide {
		transform: translateX(130%);
		position: fixed;
	}

	.content .post .post-container .post-content-header {
		height: 30px;
	}

	.content .post .post-container .post-content-header img {
		width: 30px;
	}

	.content .post .post-container .post-content-header i {
		right: 5px;
	}

	.content .post .post-container .post-content-header p {
		font-size: 14px;
	}

	.content .post .post-container .post-content-caption .nama {
		font-weight: bold;
		font-size: 14px;
	}

	.content .post .post-container .post-content-caption .caption {
		font-size: 14px;
	}

	.content .post .post-container .post-content-info .jam-buka p {
		font-size: 12px;
	}

	.content .post .post-container .post-content-info .alamat p {
		font-size: 13px;
	}

	.content .post .post-container .post-content-info .alamat .map {
		display: none;
	}

	.content .post .post-container .post-content-info .mobile-map {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px 0 5px 0;
		background-color: teal;
		border-radius: 3px;
		color: white;
		font-size: 13px;
	}

	.content .post .post-container .post-content-info .mobile-map i {
		margin-right: 5px;
	}

	/* akhir content post */

	/* content event */
	.content .event {
		position: absolute;
		margin-top: 12px;
		max-width: 768px;
		width: 94%;
		right: 3%;
		/* height: 500px; */
		position: absolute;
		transform: translateX(-130%);
	}

	.content .event.show {
		transform: translateX(0);
		transition: ease-in-out 0.5s;
	}

	.content .event h3 {
		display: none;
	}

	.content .event .event-container .event-content-header {
		height: 30px;
	}

	.content .event .event-container .event-content-header img {
		width: 30px;
	}

	.content .event .event-container .event-content-header i {
		right: 5px;
	}

	.content .event .event-container .event-content-header p {
		font-size: 14px;
	}

	.content .event .event-container .event-content-caption .nama {
		font-weight: bold;
		font-size: 14px;
	}

	.content .event .event-container .event-content-caption .caption {
		font-size: 14px;
	}

	.content .event .event-container .event-content-info .tanggal p {
		font-size: 13px;
	}

	.content .event .event-container .event-content-info .alamat p {
		font-size: 13px;
	}

	/* akhir content event */
}
